{% extends "store/base.html" %}
{% load static %}

{% block title %}Главная — Digital Nexus{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/pages/home.css' %}">
{% endblock %}

{% block content %}

<section id="hero">
  <div class="container">
    <div class="hero-text">
      <h2>Покупки ждут вас</h2>
      <p>
        Откройте для себя новейшие игры, современное программное обеспечение и уникальный цифровой контент.
        Погрузитесь в будущее технологий уже сегодня.
      </p>
      <a href="{% url 'catalog' %}" class="hero-btn">Начать покупки</a>
    </div>

    <figure class="hero-image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbZQg1VMBqUeX73qj-bpjnrb5YBL45o8Oenw&s" alt="Изображение магазина">
    </figure>
  </div>
</section>

<section id="categories">
  <div class="container">
    <h2>Категории товаров</h2>

    <div class="categories-grid">
      {% for category in categories %}
      <a href="{% url 'catalog' %}?category={{ category.slug }}" class="category-card">

        {% if category.image %}
          <img src="{{ category.image.url }}" alt="{{ category.name }}">
        {% else %}
          <img src="{% static 'store/images/default-category.png' %}" alt="{{ category.name }}">
        {% endif %}

        <p>{{ category.name }}</p>
      </a>
      {% empty %}
      <p>Категории пока не добавлены.</p>
      {% endfor %}
    </div>

  </div>
</section>


<section id="products">
  <div class="container">
    <h2>Популярные товары</h2>

    <div class="product-grid">

      {% for product in products %}
      <a href="{% url 'product_detail' product.slug %}" class="product-card">

        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
          <img src="{% static 'store/images/default-product.png' %}" alt="{{ product.name }}">
        {% endif %}

        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price }} ₽</p>
      </a>
      {% empty %}
      <p>Товаров пока нет.</p>
      {% endfor %}

    </div>

  </div>
</section>

{% endblock %}
