/* ОБЩИЕ СТИЛИ */
:root {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    padding-top: 72px;
    background: #001418;
    color: #fff;
    overflow-x: hidden;    /* запрещаем горизонтальный скролл */
    font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

/* ОСНОВНОЙ КОНТЕЙНЕР */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


/* === Меню профиля === */
.profile-menu {
  position: relative;
  display: inline-block;
}

.profile-icon {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.profile-icon:hover {
  color: #00e6ff;
  transform: scale(1.1);
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 120%;
  background: #0c0c0c;
  border: 1px solid #00e6ff33;
  border-radius: 10px;
  min-width: 160px;
  z-index: 100;
  box-shadow: 0 0 15px #00e6ff55;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.dropdown.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown a {
  display: block;
  padding: 10px 15px;
  color: #00e6ff;
  text-decoration: none;
  border-bottom: 1px solid #111;
}

.dropdown a:last-child {
  border-bottom: none;
}

.dropdown a:hover {
  background: #111;
  color: #fff;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* растягивает контент на всю доступную высоту */
}

/* Кнопка с аватаркой в хедере */
.profile-btn {
    padding: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0; /* чтобы текстовый смайлик не влиял на размеры */
}

/* Картинка самой аватарки */
.profile-btn .nav-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
