footer {
  background: #000;
  color: #aaa;
  text-align: center;
  padding: 30px 10px;
  font-size: 0.9rem;
}
footer a {
  color: #00e6ff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
