/* КАТАЛОГ */
#catalog {
  background: #0f0f0f;
  text-align: center;
  padding: 60px 20px;
}

#catalog h2 {
  color: #00e6ff;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.product-card {
  background: #1a1a1a;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 20px;
  transition: all 0.3s ease;
}
.product-card:hover {
  box-shadow: 0 0 20px rgba(0, 230, 255, 0.4);
  transform: translateY(-5px);
}
.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.price {
  color: #00e6ff;
  font-weight: bold;
}

.product-card h3,
.product-card p {
  word-wrap: break-word;     
  overflow-wrap: break-word;
  text-align: left;          
}

.product-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
